<div>
  <strong><%= comment.commenter %></strong>
</div>

<div>
  <%= nl2br comment.body %>
</div>

<div>
  <% if loggedIn? %>
    <%= link_to 'コメントを削除', [comment.article, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
