<p>
  <strong>コメント投稿者: </strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>コメント: </strong>
  <%= comment.body %>
</p>

<p>
<%= link_to 'コメントを削除', [comment.article, comment],
             method: :delete,
             data: { confirm: 'Are you sure?' } %>
</p>
