/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$font-color: black;

body {
  margin: 0 2%;
}

.webtitle {
  text-decoration: none;
  color: $font-color;
}

nav ul li {
  display: inline-block;
  &:not(:last-child):after {
    content: ' | ';
  }
}

#main-content {
  width: 100%;
  margin: auto;
  .blog-post {
    .aws-image-full {
      width: 105%;
      margin: 0 -2.5%;
    }
  }
}
.article {
  .aws-image-full {
    width: 100%;
  }
}
.date-time {
  margin: 0;
}
.article_list_title {
  margin-top: 0;
}
.title-input {
  input[type="text"] {
    width: 100%;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 3px;
  }
}
.content-input {
  textarea {
    width: 100%;
    height: 500px;
    font-size: 1rem;
    border-radius: 3px;
  }
}
.submit {
  input[type="submit"] {
  }
}
.article-comment {
  .title-input {
    input[type="text"] {
      width: 50%;
    }
  }
  .content-input {
    textarea {
      width: 50%;
      height: 100px;
    }
  }
}

.button {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  background: transparent;
  padding: .3rem .5rem;
  text-decoration: none;
  line-height: 1;
}

footer {
  text-align: right;
  padding: 0 2rem;
}

@media screen and(min-width: 1024px) {
  header {
    nav {
      position: absolute;
      right: 2rem;
      top: 0;
    }
  }
  #main-content {
    width: 80%;
    margin: auto;
    .blog-post {
      .aws-image-full {
        width: 131%;
        margin: 0 -15.5%;
      }
      .aws-image {
        width: 100%;
      }
    }
  }
  .article {
    .aws-image-full {
      width: 100%;
    }
  }
}
